.trendCard {
  padding: 4rem 0 6rem 0;
  background: linear-gradient(to bottom right, #0c1220, #161e2e, #0c1220);
}

.heading {
  margin-bottom: 2rem;
}
.card {
  background-color: #1e293b;
  border-radius: 1rem;
  padding: 1.5rem;
  color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(104, 151, 170, 0.2);
  }

  .topic {
    font-size: 1.2rem;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    padding: 1rem;
    font-size: 0.95rem;

    .topic {
      font-size: 1rem;
    }
  }

  @media (max-width: 480px) {
    padding: 0.75rem;
    font-size: 0.9rem;

    .topic {
      font-size: 0.95rem;
    }
  }
}
