.heroSection {
  background: linear-gradient(to bottom right, #0f172a, #1e293b, #0f172a);
  color: white;
  padding: 8rem 1.5rem 5rem 1.5rem;

  .heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .subheading {
    font-size: 1.25rem;
    color: #cbd5e1;
    margin-bottom: 2rem;
  }

  .btnPrimary {
    background-color: #facc15;
    color: black;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      background-color: #fde68a;
    }
  }

  .btnSecondary {
    border: 1px solid #e2e8f0;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
